name: Deploy self hosted runners
on:
  push:
    branches:
      - main
      - users/yogesh/self-hosted-runner
  workflow_dispatch:
jobs:
  deploy-runners:
    runs-on: ubuntu-latest
    env:
      controller-chart: oci://ghcr.io/actions/actions-runner-controller-charts/gha-runner-scale-set-controller
      scale-set-chart: oci://ghcr.io/actions/actions-runner-controller-charts/gha-runner-scale-set

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install helm
        uses: azure/setup-helm@v1
        with:
          version: v3.12.0

      - name: Configure kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'v1.27.3'
          kubeconfig: ${{ secrets.kube-config }}

      - name: Install kubectl cli
        run: |
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl
          kubectl version --client

      - name: Install Cert manager
        run: |  
          helm install cert-manager oci://quay.io/jetstack/charts/cert-manager --version v1.19.2 --namespace cert-manager --create-namespace --set crds.enabled=true

      - name: Deploy GHA Runner Scale Set Controller
        working-directory: ./runners
        run: |
          helm install -f gha-controller-value.yaml gha-controller ${{ env.controller-chart }}

      - name: Deploy GHA Runner Scale Set
        working-directory: ./runners  
        run: |
          helm install -f gha-scale-set-value.yaml gha-runner ${{ env.scale-set-chart }}