name: Deploy self hosted runners
on:
  push:
    branches:
      - main
      - users/yogesh/self-hosted-runner

  workflow_dispatch:
jobs:
  deploy-runners:
    runs-on: actions-runner

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Hello World
        run: echo "Deploying self hosted runners"